---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Button text="hello" />
		<Link text="Hey" />
		<Link text="Hey" hasBtnStyle={true} />
	</main>
</Layout>

